<h2>Editando a tarefa: {{task.title}}</h2>
<form action="/tasks/edit" method="post">
  <input type="hidden" name="id" value="{{task.id}}" />
  <label>Título:</label><br>
  <input type="text" name="title" value="{{task.title}}" required/><br>
  <label>Descrição:</label><br>
  <input type="text" name="description" value="{{task.description}}" /><br>
  <label>Prioridade:</label><br>
  <select name="priority" required>
    <option value="Baixa">Baixa</option>
    <option value="Média">Média</option>
    <option value="Alta">Alta</option>
  </select><br>
  <label>Data de Entrega:</label><br>
  <input type="date" name="dueDate" value="{{task.dueDate}}" /><br>
  <label for="done">Concluída?</label>
  <input type="checkbox" id="done" name="done" {{#if task.done}}checked{{/if}}/>
  <br><br>
  <button type="submit">Salvar Alterações</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const select = document.querySelector('select[name="priority"]');
  const currentPriority = '{{task.priority}}';
  
  for (let option of select.options) {
    if (option.value === currentPriority) {
      option.selected = true;
      break;
    }
  }
});
</script>